/.idea/
*.iml
*.env

.vscode/

credentials*.json
.run/
.github/agents
.github/instructions
.github/copilot-instructions.md

CLAUDE.md
.claude
.mcp.json

# deployments
be-report.md
fe-report.md
version.json-e